<%= form_for(@advertisement, html: { multipart: true, class: "advertisement", id: "advertisement_form"}) do |f| %>

<%= render 'shared/error_messages', object: f.object %>

<div class="categories" id="select-categories">
	<label for="categories">
		<h4 class="categories-choice">Select category</h4>
	</label>
	<br />
	<%= f.label :category, "Category: *" %><br />    
	<%= f.select(:category_id, Category.all.collect { |c| [ c.name, c.id ] }, {prompt: 'Select...'}, {id: "categories", class: "categories-select"} ) %>
</div>

<div id="form-holder" class="form-holder first_time">
	<div class="start-message" id="form-message">Please select category to continue. Thank you!</div>

	<div id="show-form">
		<hr />
			<div class="form-group">
		  	<div class="row">
		  		<div class="col-sm-4">
		    		<%= label :vehicle_brands, "Brand: *" %><br />    
		    		<%= select_tag :vehicle_brands, {}, class: "required" %>
		    	</div>

		    	<div class="col-sm-4">
		    		<%= f.label :vehicle_model, "Model: *" %><br />    
		    		<%= f.select :vehicle_model_id, {}, {}, id: "vm_select", disabled: true %>
		    	</div>
		    </div>
		  </div>

			<div class="form-group">
		    <%= f.label :title, "Title: *" %> <br />
		    <%= f.text_field :title, autofocus: true, class: 'form-control' %>
		  </div>

		  <div class="form-group">
		    <%= f.label :description, "Description:" %> <br />
		    <%= f.text_area :description, class: 'form-control' %>
		  </div>

		  <div class="form-group">
		  	<div class="row">
		  		<div class="col-sm-4">
		    		<%= f.label :price, "Price(€): *" %>    
		    		<%= f.text_field :price,  size: 20, placeholder: "000.000" %> 
		    	</div>

		    	<div class="col-sm-4">
		    		<%= f.label :year, "Year: *" %>    
		    		<%= f.text_field :year, placeholder: "Click here", id: "advertisement_year" %> 
		    	</div>
		    </div>
		  </div>

			<hr />

			<%= fields_for :advertisement_informations do |info| %>
				<h4 class="text-info">Basic information</h4>
  			<%#= f.label :capacity, "Capacity(cm3): *" %> <br />   
  			<%#= f.text_field :capacity,  size: 5, placeholder: "0000" %>
			
	  		<div id="basic_informations"></div> 
			  <hr />
			  
			  <h4 class="text-info">Additional information</h4>
			  <%#= f.label :exterior_color, "Exteriror color: *" %><br />    
	  		<%#= f.collection_select :exterior_color_id, Color.all, :id, :name, prompt: "" %>
				
				<div id="additional_informations"></div> 
	  	<% end %>	
				
			<hr />

			<%= fields_for :options do |option| %>	
		  	<h4 class="text-info">Options</h4>	
				<div id="options"></div>
			<% end %>

			<hr />
			<div class="picture">
				<h3>
				<span class="label label-info">For multiple image selection use SHIFT+SELECT or CTRL+SELECT. Maximum images count is 8
				</span>
				</h3>
				<br/>
				<%#= image_tag(@advertisement.image_url) if @advertisement.images? %>
				<%= f.file_field :images, multiple: true, accept: 'image/jpeg,image/gif,image/png' %>
			</div>
			
			<br /><br />
			<%= f.submit "Add advertisement", class: "btn btn-primary" %>
			<br /><br />

		<% end %>
	</div><!-- show_form -->

	
</div><!-- form-holder -->	

<%= javascript_include_tag "advertisements" %>

<script>
	// $("#advertisement_images").on("change", function(){
	// 	size_in_megabytes = this.files[0].size/1024/1024;
	// 	if(size_in_megabytes > 4){
	// 		sweetAlert("Maximum file size iz 4MB. Please choose a smaller file.");
	// 	}
	// });
</script>