<% provide(:title, "Advertisement detail") %>

<div class="row">
  <div class="col-sm-8 col-sm-offset-2">
    <div class="page-header"><h1>Advertisement Detail</h1></div>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tbody>
          <tr>
            <td><b>Title:</b></td>
            <td><%= @advertisement.title %></td>
          </tr>

          <tr>
            <td><b>Description:</b></td>
            <td><%= @advertisement.description %></td>
          </tr>

          <tr>
            <td><b>Category:</b></td>
            <td><%= @advertisement.category.name %></td>
          </tr>

          <tr>
            <td><b>Price:</b></td>
            <td><%= number_with_precision @advertisement.price, precision: 2 %></td>
          </tr>

          <tr>
            <td><b>Year:</b></td>
            <td><%= @advertisement.year %></td>
          </tr>

          <tr rowspan="2" bgcolor="#aabbaa">
            <td><h4><i>Basic Information</i></h4></td>
            <td></td>
          </tr>
          
          <% @basic_advertisement_informations.each do |key, value| %>
            <tr>
              <td><b><%= key %>:</b></td>
              <td><%= value %></td>
            </tr>
          <% end %>

          <% if @additional_advertisement_informations.length > 0 %> 
            <tr rowspan="2" bgcolor="#aabbaa">
              <td><h4><i>Additional Information</i></h4></td>
              <td></td>
            </tr>

            <% @additional_advertisement_informations.each do |key, value| %>
              <tr>
                <td><b><%= key %>:</b></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          <% end %>
          
        </tbody>
      </table>
    </div><!-- table-responsive -->

    <div class="table-responsive">
      <h4>Options:</h4>

      <% if @advertisement.options.size > 0 %>
        <table class="table table-striped table-bordered">
          <tbody>
            <% @advertisement.options.each_with_index do |option, index| %>
              <tr>
                <td><%= index + 1 %></td>
                <td><b><%= option.name %></b></td>
                <td>Yes</td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <div class="alert alert-info" role="alert">There is no options!</div>
      <% end %> <!-- table-responsive -->
    </div>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Images</h3>
      </div>

      <div class="panel-body">
        <% if @advertisement.images.size > 0 %>
          <% @advertisement.images.each_with_index do |image, index| %>
            <% if(index % 3 == 0) %>
              <div class="row">
                <div class="col-md-4">
                  <%= image_tag(image.url, class: "img-responsive img-rounded img-pad") %>
                </div>
            <% elsif(index % 3 == 2) %>
                <div class="col-md-4">
                  <%= image_tag(image.url, class: "img-responsive img-rounded img-pad") %>
                </div>
              </div><!-- row -->
            <% else %>
                <div class="col-md-4">
                  <%= image_tag(image.url, class: "img-responsive img-rounded img-pad") %>
                </div>
            <% end %>
          <% end %>
        <% else %>
          <h4>No images!</h4>
        <% end %>
      </div>
    </div>

  </div>
</div><!-- row -->    
