<% provide(:title, "Advertisement detail") %>

<h3><td><%= @advertisement.title %></td></h3>
<hr />

<div class="row">
  <div class="col-sm-8">
    <% if !@advertisement.images.empty? %>
      <div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
        <div class="slides"></div>
        <h3 class="title"></h3>
        <a class="prev">‹</a>
        <a class="next">›</a>
        <a class="close">×</a>
        <a class="play-pause"></a>
        <ol class="indicator"></ol>
      </div>

      <div id="links" class="">
        <% @advertisement.images.each_with_index do |image, index| %>
          <%= link_to image.url do %>
            <%= image_tag image.thumb_middle.url, class: "img-thumbnail" %>
          <% end %>
        <% end %>
      </div>
    <% else %>
        <%= image_tag "placeholder.png", class: "img-responsive no-image-placeholder" %>
    <% end %>
  </div>

  <div class="col-sm-4">
    <div class="infos">
      <p><b>Model:</b> <%= @advertisement.vehicle_model.name %></p>
      <p><b>Brand:</b> <%= @advertisement.vehicle_model.vehicle_brand.name %></p>
      <p><b>Category:</b> <%= @advertisement.category.name %></p>
      <p><b>Price:</b> <%= number_with_precision @advertisement.price, precision: 2 %> €</p>
      <p><b>Year:</b> <%= @advertisement.year %></p>
      <p><b>Added:</b> <%= time_ago_in_words @advertisement.created_at %> ago.</p>
    </div>
  </div>

</div>

<div class="row">
  <div class="col-md-8">
    <h3>Basic information</h3>

    <div class="table-responsive">
      <table class="table table-striped table-bordered">
        <tbody>
          <% @basic_advertisement_informations.each do |key, value| %>
            <tr>
              <td><b><%= key %>:</b></td>
              <td><%= value %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>  
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>Additional information</h3>

    <% if @additional_advertisement_informations.length > 0 %> 
      <div class="table-responsive">
        <table class="table table-striped table-bordered">
          <tbody>
            <% @additional_advertisement_informations.each do |key, value| %>
              <tr>
                <td><b><%= key %>:</b></td>
                <td><%= value %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div> 
    <% else %>
      <h4>No additional information!</h4>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <h3>Options</h3>

    <% if @advertisement.options.size > 0 %>
      <ul>
        <% @advertisement.options.each do |option| %>
          <li><%= option.name %></li>
        <% end %>
      </ul> 
    <% else %>
      <div class="alert alert-info" role="alert">There is no options!</div>
    <% end %> 

  </div>
</div>


<script>
var links = document.getElementById('links');
if(links) {
  links.onclick = function (event) {
      event = event || window.event;
      var target = event.target || event.srcElement,
          link = target.src ? target.parentNode : target,
          options = {index: link, event: event},
          links = this.getElementsByTagName('a');
      blueimp.Gallery(links, options);
  };
}  

var fullscreenOptions = {
    // Defines if the gallery should open in fullscreen mode:
    fullScreen: false
};
</script>